.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

img {
    margin: 10px;
    width: 550px;
    margin-top: 50px;
    border-radius: 10px;
}

.hero-text {
    color: white;
    padding: 0px 10px;
    padding-left: 40px;
}

h1 {
    font-size: 50px;
    font-style: italic;
    padding: 10px;
    text-transform: uppercase;
}

.button {
    margin-top: 40px;
}